/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* container di tutta la pagina */
.container {
  background-color: darkgray;
  flex-wrap: wrap;
}
/* container parte superiore */
.container-main {
  background-color: aqua;
  width: 100vw;
  height: 90vh;
}
/* sezione nav bar */
.menu {
  background-color: rgb(0, 0, 0);
  width: 10vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 5px;
}

.logo-big {
  display: none;
}

.home-section {
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  span {
    color: rgb(184, 184, 184);
    font-size: 0.7rem;
  }
}

.container-logo {
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.playlist {
  flex-direction: column;
  justify-content: center;
  color: rgb(184, 184, 184);

  h5 {
    font-size: 0.5rem;
    color: rgb(238, 238, 238);
  }
  li {
    font-size: 0.5rem;
  }
}

.crea-playlist {
  gap: 5px;
  align-items: center;
  padding-block: 10px;
  span {
    font-size: 0.7rem;
  }
}

.lista {
  flex-direction: column;
  gap: 20px;
}

.account {
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  span {
    color: white;
  }
  hr {
    width: 90%;
  }
}
.install-section {
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    font-size: 0.6rem;
  }
}

.account-section {
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    font-size: 0.7rem;
  }
}

.small-logo {
  width: 50%;
}
.small-spotify {
  width: 50%;
}
.micro-logo {
  width: 25%;
}

/* sezione scroll page */

.upgrade-bar {
  background-color: rgba(8, 11, 18, 0.7);
  height: 10vh;
  align-items: center;
  justify-content: end;
  position: sticky;
  top: 0;
  padding-right: 15px;

  a {
    border: white solid 1px;
    padding: 10px 20px;
    font-size: 0.6rem;
    color: white;
    text-decoration: none;
    border-radius: 20px;
  }
}

.container-scrollpage {
  background-color: #141922;
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  h4 {
    color: aliceblue;
    padding: 5% 8%;
  }
}

.scrollpage-nav {
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 30px 10px;
  a {
    font-size: 0.5rem;
    text-decoration: none;
    color: aliceblue;
  }
}
.recently-played {
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.creata-per-me {
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.most-popular {
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 10%;
  img {
    border-radius: 50%;
  }
}
.card {
  width: 40%;
  img {
    width: 100%;
  }
}

/* sezione play*/
.playbar {
  background-color: #282828;
  height: 10vh;
  width: 100vw;
  align-items: center;
}

.song-section {
  flex-basis: 30%;
  padding-left: 5px;
  img {
    width: 25px;
  }

  .song-text {
    flex-direction: column;
    font-size: 0.3rem;
    color: gainsboro;
    padding-left: 5px;
    gap: 5px;
  }
  svg {
    width: 10px;
    fill: gainsboro;
  }
}

.reproducuion-section {
  flex-basis: 40%;
}

.reproducuion-icon {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 12%;

  .svg-small {
    width: 10px;
    fill: gainsboro;
  }
  .svg-mid {
    width: 9px;
    fill: gainsboro;
  }
  .svg-big {
    width: 25px;
    fill: gainsboro;
  }
}

.reproduction-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 0.6rem;
    color: aliceblue;
    padding-inline: 5px;
  }
}

.total-time {
  width: 80%;
  height: 3px;
  background-color: rgb(170, 170, 170);
}

.current-time {
  width: 20%;
  height: 3px;
  background-color: aliceblue;
}
