/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* container di tutta la pagina */
.container {
  background-color: darkgray;
  flex-wrap: wrap;
}
/* container parte superiore */
.container-main {
  background-color: aqua;
  width: 100vw;
  height: 90vh;
}
/* sezione nav bar */
.menu {
  background-color: rgb(0, 0, 0);
  width: 10vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 5px;
}

.logo-big {
  display: none;
}

.home-section {
  /* background-color: chartreuse; */
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  span {
    color: rgb(184, 184, 184);
    font-size: 0.5rem;
  }
}

.container-logo {
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.playlist {
  flex-direction: column;
  justify-content: center;
  color: rgb(184, 184, 184);

  h5 {
    font-size: 0.5rem;
    color: rgb(238, 238, 238);
  }
  li {
    font-size: 0.5rem;
  }
}

.crea-playlist {
  gap: 5px;
  align-items: center;
  padding-block: 5px;
}

.lista {
  flex-direction: column;
  gap: 10px;
}

.account {
  /* background-color: blue; */
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  span {
    color: white;
  }
  hr {
    width: 90%;
  }
}
.install-section {
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    font-size: 0.6rem;
  }
}

.account-section {
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    font-size: 0.6rem;
  }
}

.small-logo {
  width: 50%;
}
.small-spotify {
  width: 50%;
}
.micro-logo {
  width: 25%;
}

/* sezione scroll page */

.container-scrollpage {
  background-color: blueviolet;
  width: 90vw;
  height: 90vh;
}

.upgrade-bar {
  background-color: chocolate;
  height: 10vh;
  align-items: center;
  justify-content: end;
}

/* sezione play*/
.playbar {
  background-color: brown;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
